In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline

###  Régression linéaire Simple
Adversitising sales Using TV

In [86]:
# chargement du dataset
df = pd.read_csv("advertising.csv")

In [87]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [101]:
# Extraction des colonnes X
X = df[['TV', 'Radio', 'Newspaper']]
# Extraction de la colonne y
y = df['Sales']

In [90]:
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [103]:
x1=df.TV
x2=df.Radio
x3=df.Newspaper

In [91]:
print(X.shape)
print(y.shape)

(200, 3)
(200,)

In [104]:
x

0      230.1
1       44.5
2       17.2
3      151.5
4      180.8
       ...
195     38.2
196     94.2
197    177.0
198    283.6
199    232.1
Name: TV, Length: 200, dtype: float64

In [92]:
X.shape

(200, 3)

In [93]:
y=y.values.reshape(-1,1)
y.shape

(200, 1)

In [105]:
from sklearn.model_selection import train_test_split
x1_train, x1_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [107]:
print(x1_train.shape)
print(x1_test.shape)
print(y_train.shape)
print(y_test.shape)

(160,)
(40,)
(160,)
(40,)

In [97]:
np.random.seed(0) # pour produire toujours le meme vecteur theta aléatoire
theta=np.random.randn(4,1)
print('Theta:',theta)

Theta: [[1.76405235]
 [0.40015721]
 [0.97873798]
 [2.2408932 ]]

In [98]:
def model(X, theta):
    return X.dot(theta)

In [99]:
def cost_function(X, y, theta):
    m = len(y)
    return 1/(2*m) * np.sum((model(X, theta) - y)**2)

In [100]:
cost_function(X_train, y_train, theta)

ValueError: shapes (320,) and (4,1) not aligned: 320 (dim 0) != 4 (dim 0)

In [ ]:
def grad(X, y, theta):
    m = len(y)
    return 1/m * X.T.dot(model(X, theta) - y)

In [ ]:
def gradient_descent(X, y, theta, learning_rate, n_iterations):

    cost_history = np.zeros(n_iterations) # création d'un tableau de stockage pour enregistrer l'évolution du Cout du modele

    for i in range(0, n_iterations):
        theta = theta - learning_rate * grad(X, y, theta) # mise a jour du parametre theta (formule du gradient descent)
        cost_history[i] = cost_function(X, y, theta) # on enregistre la valeur du Cout au tour i dans cost_history[i]

    return theta, cost_history

In [ ]:
n_iterations = 10000
learning_rate = 0.03

theta_final, cost_history = gradient_descent(X_train, y_train, theta, learning_rate, n_iterations)

In [ ]:
theta_final

In [ ]:
# création d'un vecteur prédictions qui contient les prédictions de notre modele final
predictions_test = model(X_test, theta_final)
predictions_train = model(X_train, theta_final)

In [ ]:
predictions_train

In [ ]:
plt.plot(range(n_iterations), cost_history)
plt.show()

In [ ]:
def coef_determination(y, pred):
    u = ((y - pred)**2).sum()
    v = ((y - y.mean())**2).sum()
    return 1 - u/v

In [ ]:
coef_determination(y_test, predictions_test)

In [ ]:
coef_determination(y_train, predictions_train)

###  Régression polynômiale multivariée de degré 2

In [ ]:
# chargement du dataset
data = pd.read_csv("advertising.csv")

In [ ]:
# Extraction des colonnes X
X = data[['TV', 'Radio', 'Newspaper']]

#X = df[['TV', 'Radio']]
# Extraction de la colonne y
y = data['Sales']
a=X.iloc[:,0:1].values
b=X.iloc[:,1:2].values
c=X.iloc[:,2:3].values
print(a)

In [ ]:
X = np.hstack((a,b,c,a**2,b**2,c**2,a*b,a*c,b*c))

In [ ]:
X.shape

In [ ]:
X

In [ ]:
y=y.values.reshape(-1,1)
y.shape

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape

In [ ]:

X_train=(X_train-X_train.mean())/X_train.std()
X_test=(X_test-X_test.mean())/X_test.std()

#from sklearn.preprocessing import StandardScaler
# Initialisez le StandardScaler
#scaler = StandardScaler()
# Normalisez X_train et X_test
#X_train = scaler.fit_transform(X_train)
#X_test= scaler.fit_transform(X_test)

X_train = np.hstack((X_train, np.ones((X_train.shape[0], 1))))
X_test = np.hstack((X_test, np.ones((X_test.shape[0], 1))))

In [ ]:
X_train.shape

In [ ]:
X_train

In [ ]:
np.random.seed(0) # pour produire toujours le meme vecteur theta aléatoire
theta=np.random.randn(10,1)
print('Theta:',theta)

In [ ]:
#def model(X, theta):
    #return X.dot(theta)
def model(X, theta):
    return np.dot(X, theta)

In [ ]:
def cost_function(X, y, theta):
    m = len(y)
    return 1/(2*m) * np.sum((model(X, theta) - y)**2)

In [ ]:
cost_function(X_train, y_train, theta)

In [ ]:
# définir la fonction de gradient
def grad(X, y, theta):
    m = len(y)
    return 1/m * X.T.dot(model(X, theta) - y)

In [ ]:
# Définir la descente de gradient
def gradient_descent(X, y, theta, learning_rate, n_iterations):

    cost_history = np.zeros(n_iterations) # création d'un tableau de stockage pour enregistrer l'évolution du Cout du modele

    for i in range(0, n_iterations):
        theta = theta - learning_rate * grad(X, y, theta) # mise a jour du parametre theta (formule du gradient descent)
        cost_history[i] = cost_function(X, y, theta) # on enregistre la valeur du Cout au tour i dans cost_history[i]

    return theta, cost_history

In [ ]:
# Entrainement du modèle
n_iterations = 10000
learning_rate = 0.03

theta_final, cost_history = gradient_descent(X_train, y_train, theta, learning_rate, n_iterations)

In [ ]:
theta_final

In [ ]:
# création d'un vecteur prédictions qui contient les prédictions de notre modele final
predictions_test = model(X_test, theta_final)
predictions_train = model(X_train, theta_final)

In [ ]:
plt.plot(range(n_iterations), cost_history)
plt.show()

In [ ]:
def coef_determination(y, pred):
    u = ((y - pred)**2).sum()
    v = ((y - y.mean())**2).sum()
    return 1 - u/v

In [ ]:
coef_determination(y_test, predictions_test)

In [ ]:
coef_determination(y_train, predictions_train)